@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyr/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyr/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyr/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyr/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyr/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyr/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyr/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyr/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  padding: 7px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  font-weight: 400;
}

.navbar__button {
  margin-left: 30px;
}

.navbar__phone {
  font-size: 20px;
  font-weight: 400px;
  font-family: 'Museo Sans Bold';
  color: #333333;
  text-decoration: none;
  margin-top: 9px;
  display: inline-block;
}

.navbar__phone:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
}

.hero {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-title {
  font-size: 41px;
  font-weight: 400;
  line-height: 55px;
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Museo Sans Bold';
}

.text-about {
  font-size: 20px;
  font-weight: 400;
  line-height: 65px;
  /* margin-bottom: 75px */
  font-family: 'Museo Sans Bold';
}

.block-low {
  max-width: 310px;
  list-style: none;
  /* display: flex */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  padding-left: 0;
}

.block-low img {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.list:last-child {
  padding-bottom: 0px;
}

.shadow {
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

.span-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .hero-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .hero-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-img img {
    width: 100%;
  }
  .text-title {
    font-size: 24px;
    margin-bottom: 13px;
  }
  .text-about {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
  }
  .span-text {
    font-size: 12px;
    font-weight: 400;
  }
  .block-low {
    margin-bottom: 20px;
  }
}

.offer {
  padding: 90px 0;
  background: url(../img/offer-bg.png) no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer h2 {
  /* font-size: 24px */
  /* font-weight: 400 */
  line-height: 35px;
  font-family: 'Museo Sans Bold';
  max-width: 360px;
  margin-bottom: 24px;
}

.offer-button {
  width: 100%;
  min-height: 70px;
  margin-bottom: 31px;
}

.offer-subtitle {
  display: block;
  font-weight: 400;
  max-width: 250px;
  margin-bottom: 30px;
}

.offer-input {
  padding: 20px 26px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  width: 240px;
}

.offer-input:first-child {
  margin-right: 10px;
}

.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.support-text {
  width: 50%;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.support-text:first-child {
  margin-right: 69px;
}

.support__phone {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Museo Sans Bold';
  color: #333333;
  text-decoration: none;
}

.support__phone:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer-button {
    font-size: 13px;
  }
  .offer-input {
    width: 100%;
    margin-bottom: 10px;
  }
  .support {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .support-text {
    width: 100%;
    margin: 0 0 18px 0;
  }
}

@media (max-width: 850px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .support {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .support-text {
    margin: 0 0 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog-close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-dialog-close:hover {
  background-color: green;
}

.portfolio {
  background: #f5f5f5 url(../img/network.jpg) repeat-y center left;
  background-size: 50%;
  padding-bottom: 90px;
}

.portfolio-title {
  text-align: center;
  line-height: 40px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 100px;
  margin-top: 0;
  padding-top: 100px;
}

.slider__item {
  outline: none;
}

.slider {
  margin-bottom: 46px;
}

.slider__img {
  margin: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
    width: 95%;
  }
}

@media (max-width: 860px) {
  .portfolio {
    background: #f5f5f5;
    background-size: 0%;
  }
}

@media (max-width: 780px) {
  .container {
    max-width: 750px;
    width: 95%;
  }
  .slider__item {
    margin-left: 30px;
  }
  .portfolio-title {
    padding-top: 43px;
    margin-bottom: 43px;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 550px;
    width: 95%;
  }
}

.button {
  font-size: 13px;
  font-weight: 400;
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 19px 30px 17px 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button:hover {
  background-color: #ffe466;
  cursor: pointer;
}

@media (max-width: 320px) {
  .container {
    /* max-width: 750px */
    width: 95%;
  }
  .hero {
    padding: 0;
  }
  .hero-text {
    margin-left: 15px;
    margin-right: 15px;
  }
  .button {
    padding: 15px 26px 14px 26px;
    font-size: 10px;
    font-weight: 400;
    /* margin-right: 23px */
    margin-left: 49px;
  }
  .offer-block {
    padding-top: 5px;
  }
  .offer-button {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: auto;
    font-family: 'Museo Sans Bold';
    padding: 19px 62px 19px 64px;
    margin-bottom: 27px;
  }
  .support-text {
    margin-bottom: 10px;
  }
  .navbar__logo img {
    width: 91px;
    height: 44px;
    margin-left: 10px;
  }
  .text-top {
    margin-bottom: 28px;
  }
  .text-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    padding-top: 20px;
    margin-bottom: 13px;
    font-family: 'Museo Sans Bold';
  }
  .text-about {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
  .text-low {
    margin-bottom: 13px;
  }
  .list {
    margin-bottom: 20px;
  }
  .section {
    padding: 0;
  }
  .portfolio-title {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 43px;
    margin-bottom: 41px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  .portfolio__arrows {
    padding-bottom: 64px;
  }
  .slider {
    margin-bottom: 46px;
  }
  .slider__img {
    /* margin: auto */
    display: inline-block;
  }
  .slider__img {
    width: 246px;
  }
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrow__left:hover, .arrow__right:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */